@font-face {
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: normal;
  src: local('Tw Cen MT'), url('Tw Cen MT.woff') format('woff');
}
    
*{
  font-family:TW Cen MT;
  margin: 0;
  padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
  background-color: black ;
  color: white;
  margin: 0;
  padding: 0;
}

h2{width: 98%;
  width: 98%;
  padding-top: 3%;
  text-align: center;
  }
a{color: rgb(243, 181, 65);
  text-decoration: none;}
li{list-style: none;}

#titulo_principal{
  font-size: 5em;
}

header{
  /*grid-area: header;*/
  width: 100%;
  height: 50vh;
  padding-top: 15em;
  text-align: center;
  border-bottom: 2px white solid;
  padding-bottom: 2em;
}

#portada{
  background-image: url("../img/espacio.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

main{
    grid-area: main;
}

main p{
  margin: 1%;
}

#contenidos{
    
    padding-left: 1%;
    padding-bottom: 4em;
    border-top: 2px white solid;
}
#animacion{
  padding-left: 4em;
}

footer{
    grid-area: footer;
    font-size: xx-small;
    text-align: center;
}

#menu {
  position: fixed;
  top: 0;
  left: -25em;
  width: 17em;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
  padding: 1em 1em 0 1em;
  -webkit-transition: left 0.5s ease-in-out 0.1s;
  -moz-transition: left 0.5s ease-in-out 0.1s;
  -ms-transition: left 0.5s ease-in-out 0.1s;
  -o-transition: left 0.5s ease-in-out 0.1s;
  transition: left 0.5s ease-in-out 0.1s;
  background-color: #00254d;
}
  
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
#menu li {
  padding: 10px;
  border-bottom: 1px solid #005dc0;
}

#menu li:hover {
  background-color: #024a97;
}

#menu a {
  color: rgb(172, 167, 167);
  text-decoration: none;
}
  
#menu a:hover {
  color: #d4e7fa;
}
  
.cierremenu{
  width: 1em;
}

#menu:target  {
  left: 0;
  width: 17em;
  margin: 0;
  border: 1px solid #007bff;
  z-index: 10;
}
#boton_menu{
  font-size:xx-large;
  left: 2%;
  position: fixed;
  top: 2%;
  }
  #boton{
    right: 2%;
    position: fixed;
    top: 2%;
    }






/*para posteriores modificaciones necesito el javascript del menu hecho*/
/*
@media (min-width: 1281px) and (min-height:721px){
    body{
        display: grid;
    grid-template-columns: 5vw , 60vw , 25vw;
    grid-template-areas: 
     "header header header"
     " main main main"
    "footer footer footer";}

}

@media (min-width: 801px) and (min-height:601px){
    body{
        display: grid;
    grid-template-columns: 5vw , 60vw , 25vw;
    grid-template-areas: 
     "header header header"
     " main main main"
    "footer footer footer";}

}
@media (max-width: 800px) and (max-height:600px){
    body{
        display: grid;
    grid-template-columns: 5vw , 94vw;
    grid-template-areas: 
     "header header"
     "main main"
    "footer footer";}

}
*/