@font-face {
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: normal;
    src: local('Tw Cen MT'), url('Tw Cen MT.woff') format('woff');
    }
    *{
        font-family:TW Cen MT;
    }
html{
    scroll-behavior: smooth;
}
    body{
        display: grid;
    grid-template-columns: 5vw , 60vw , 25vw;
    grid-template-areas: 
     "header header header"
     "aside main main"
    "footer footer footer";}

/*preguntar al cliente de que color va a querer el fondo y en contraste las letras de cadda cosa h1 enlaces y las letras normales*/
aside{
    grid-area: aside;
    
    border-right: 2px white solid;
    
    height: fit-content;
}
main{
    grid-area: main;
    
}
#contenidos{
    display: flex;
    
    padding-left: 1%;
    
}
main p{
    margin: 1%;
}
/*en una proxima ctualizacion del proyecto se cambiara l footer junto a los tamaños de fuente */
footer{
    grid-area: footer;
    font-size: xx-small;
}
header{
    grid-area: header;
    
    justify-content: space-between;
}
#etimologia{

    border-right: 2px white solid;

}
h2{
    width: 98%;
}
body{
    background-color: black ;
    color: white;
}
a{color: rgb(243, 181, 65);
text-decoration: none;}
aside li:hover{background-color:rgba(255, 255, 75, 0.575)}
aside a:hover{text-shadow:rgba(253, 253, 71, 0.705)}
li{list-style: none;}
#arriba{
right: 2%;
position: fixed;
bottom: 2%;
}
/*para posteriores modificaciones necesito el javascript del menu hecho*/

/*CSS DEL MENÚ*/
button#menu-button {
  background-color: #007bff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: grey;
}
  
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
#menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#menu li:hover {
  background-color: #eee;
}

#menu a {
  color: #333;
  text-decoration: none;
}
  
#menu a:hover {
  color: #007bff;
}
  
body {
  margin: 0;
  padding: 0;
}
  
  /* Estilos para mostrar el menú al hacer clic en el botón */
button#menu-button:focus + #menu {
  display: block;
}
  
button#menu-button:focus + #menu {
  display: block;
}
  
